body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#333;
  background-color: #fff;
}


a {
  color:#1677fe;
  cursor:pointer;
}



p {
  margin:0;
  padding:0;
}